@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Simple_Bank_Application.Pages.admin.list_all_accountsModel
@{
	ViewBag.Title = "List All Users";
}

<h2>@ViewBag.Title</h2>

@if (Model.Accounts != null && Model.Accounts.Any())
{
	<table>
		<tr>
			<th>Id</th>
			<th>Balance</th>
			<th>User Id</th>
		</tr>

		@foreach (var a in Model.Accounts)
		{
			<tr>
				<td>@a.Id</td>
				<td>@a.Balance</td>
				<td>@a.UserId</td>
			</tr>
		}
	</table>
}

<form method="post">
	<button type="submit">Show Account List</button>
</form>

<form method="get" asp-page="/admin/dashboard">
	<button type="submit">Return</button>
</form>