@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Simple_Bank_Application.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>Razor Pages - Home Page</title>
</head>


<form method="get" asp-page="/Login">
    <button type="submit">Go to Login Page</button>
</form>

<form method="get" asp-page="/Register">
    <button type="submit">Go to Register Page</button>
</form>