@page
@model Simple_Bank_Application.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>Razor Pages - Home Page</title>
</head>
<body>
    <h1>Home page with razor pages</h1>
    <p>This is a sample page.</p>
</body>
