@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Simple_Bank_Application.Pages.LoginModel
@{
	ViewBag.Title = "Login Page";
}

<h2>@ViewBag.Title</h2>

<form method="post" asp-page="/Login">
	<div>
		<label for="usernameInput">Username:</label>
		<input type="text" id="usernameInput" name="Username" />
	</div>

	<div>
		<label for="passwordInput">Password:</label>
		<input type="text" id="passwordInput" name="Password" />
	</div>

	<button type="submit">Login</button>
	
	@Html.AntiForgeryToken()
</form>

<form method="get" asp-page="/Index">
	<button type="submit">Return</button>
</form>

@if (!string.IsNullOrEmpty(Model.Message))
{
	<p style="color: green;">@Model.Message</p>
}


