@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Simple_Bank_Application.Pages.LoginModel
@{
	ViewBag.Title = "Login Page";
    Layout = "_Layout";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="card bg-dark text-white p-5 text-center" style="border-radius: 1rem; width: 100%; max-width: 500px;">
        <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
        <p class="text-white-50 mb-4">Please enter your username and password!</p>

        <form method="post" asp-page="/Login">
            <div class="mb-4">
                <label class="form-label" for="typeUsernameX">Username</label>
                <input type="text" id="typeUsernameX" class="form-control form-control-lg" name="Username" placeholder="Enter username" />
            </div>

            <div class="mb-4">
                <label class="form-label" for="typePasswordX">Password</label>
                <input type="text" id="typePasswordX" class="form-control form-control-lg" name="Password" placeholder="Enter password" />
            </div>

            <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
        </form>

        <p class="mt-4 mb-0">
            Don't have an account? <a asp-page="/Register" class="text-white-50 fw-bold">Register</a>
        </p>

        <form method="get" asp-page="/Index" class="mt-3">
            <button class="btn btn-outline-light btn-lg fs-6" type="submit">Return</button>
        </form>
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <p style="color: green;">@Model.Message</p>
        }
    </div>
</div>

