@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Simple_Bank_Application.Pages.RegisterModel
@{
	ViewBag.Title = "Register Page";
}

<h2>@ViewBag.Title</h2>

<form method="post" asp-page="/Register">
	<div>
		<label for="nameInput">Name:</label>
		<input type="text" id="nameInput" name="Name"/>
	</div>

	<div>
		<label for="surnameInput">Surname:</label>
		<input type="text" id="surnameInput" name="Surname" />
	</div>

	<div>
		<label for="usernameInput">Username:</label>
		<input type="text" id="usernameInput" name="Username" />
	</div>

	<div>
		<label for="passwordInput">Password:</label>
		<input type="text" id="passwordInput" name="Password" />
	</div>

	<div>
		<label for="emailInput">Email:</label>
		<input type="text" id="emailInput" name="Email" />
	</div>

	<button type="submit">Register</button>
	@Html.AntiForgeryToken()
</form>

<form method="get" asp-page="/Index">
	<button type="submit">Return</button>
</form>

@if (!string.IsNullOrEmpty(Model.Message))
{
	<p style="color: green;">@Model.Message</p>
}


