@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Simple_Bank_Application.Pages.customer.deposit_withdrawModel
@{
	ViewBag.Title = "Deposit/Withdraw";
}

<h2>@ViewBag.Title</h2>
<form method="get" asp-page="/customer/dashboard">
	<button type="submit">Return</button>
</form>